@import "variables";
@import "reset";
@import "ui";

#site-header {
    position: relative;
    z-index: 99999;
    $nav-spacing: 25px;
    align-items: center;
    background-color: $accent;
    color: $white;
    font-size: $text-l;
    font-family: $font-secondary;
    
    .logo {
        margin-right: 50px;
    }

    &.water-effect { 
        margin-bottom: 30px; 
        > .inner { transform: translateY(30%); }
    }
    &.header-transparent { background-color: transparent; transform: translateY(30%); }

    .header-ext {
        background-color: $white;
    }

    > .inner {
        position: relative;
        padding: 12px $base-padding;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    nav a.active {
        border-bottom: 2px solid white;
    }

    nav a:not(.button) {
        padding: 5px 0;

        &:hover { text-decoration: none; border-bottom: 2px solid white; }
    }

    .nav-left {
        margin-right: auto;

        nav a { margin-right: $nav-spacing; }
    }

    .nav-right {
        margin-left: auto;
    }
}


#site-footer {
    position: relative;
    background-color: #222;
    margin-top: 120px;

    .upper {
        max-width: $screen-size-large;
        margin: 0 auto;
        padding: $base-padding;
    }

    .lower { background-color: #444; }
    .lower > .inner {
        padding: 20px;
        color: #fff;
        display: flex;
        align-items: center;

        & > * { margin: 0; }

        .logo {
            margin-right: 40px;
        }

        nav a { margin-right: 15px; color: $neutral-mid; }

        .social-tray a { 
            color: $primary; 

            &:hover { color: lighten($primary, 25%); }
        }
    }

}

#subscribe-newsletter {
    position: relative;
    max-width: 950px;
    top: -80px;
    background-color: $accent;
    color: white;
    padding: 40px 40px;
    border-radius: 14px;
    margin-bottom: -40px;

    .thumbnail-wrapper img {
        max-width: 250px;
        fill: green;
        margin: -30px 0 -40px 15px !important;
    }

    input { background-color: rgba(0, 0, 0, 0.3); color: white; }
    input::placeholder { color: rgba(255, 255, 255, 0.5); }
    input:focus { border-color: $primary; }
}

#booking-form {
    
    .inner {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
        gap: 0 40px;
        max-width: 600px;
    }
}

.logo {

    img {
        max-width: 120px;
        margin-top: 6px;
    }

    &.logo-text {
        font-family: Sketch;
        font-size: 112px;
        font-weight: normal;
    }

}

.auth-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

    .side-content {
        width: 100%;
        background-color: $primary;
        padding: $base-padding;
    }   

    .main-content {
        position: relative;
        min-width: 600px;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $base-padding;

        .close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 60px;
            font-size: 46px;
            line-height: 0;
        }
    }
}

.page-home {

    .hero-section {
        position: relative;
        background-color: $accent;
        background-image: url(../images/resort/outdoor-1-transformed.jpeg);
        background-size: cover;
        background-position: center;
        margin-bottom: -65px;
        padding-bottom: 140px;
        padding-top: 120px;
        margin-top: -100px;
        color: $white;
    
        >.image-content {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    .section-separator {
        position: absolute;
        min-height: 100px;
        background-image: url(../images/waves-white.svg);
        bottom: 0;
        z-index: 5;
        width: 100%;
    }

}

.page-booking {
    

}

#events-showcase .image-content-container {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;

    .image-content {
        border-radius: 10px;
        justify-content: space-between;

        img { border-radius: 10px; }
    }

}

#testimonials-showcase {

    .image {
        max-width: 180px;
        margin-bottom: 10px;
    }

    .testimonial-container {
        background-color: #eee;
        padding: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .title-wrapper {
        margin-right: 40px;
    }

    .testimonial {
        max-width: 360px;

        .testimonial-header { margin-bottom: 20px; display: flex; align-items: center;}
        .author { display: flex; flex-direction: column; justify-content: flex-start; }
        .author-rating { margin-bottom: -5px; }
        .author-pfp { background: url(../images/pfp.jpg); background-size: 100% auto; width: 95px; height: 95px; border-radius: 100px; margin-right: 20px; border: 3px solid $blue; }
        .author-name { font-weight: bold; }
        .author-job { color: #888; }
    }

}

.page-coming-soon {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: -50px;

    img { max-width: 300px; min-width: 300px; }
}

.services-showcase {
    margin-top: 50px;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    gap: 30px;

    .service-item {
        cursor: default;
        border-radius: 10px;
        background: #eee;
        overflow: hidden;
    }

    .image-content .content {  padding: 20px; }
    .image-content .image { line-height: 0; }
    .image-content img { max-width: 260px; width: 100; min-width: 220px; }
}

.site-policy {
    h5 { margin-bottom: 5px; }
    h6 { margin-top: 20px; }

    .left-indent {
        margin-left: 40px;
    }
}

.page-contact {
    
    > section {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(250px, 300px);
        align-items: start;
        gap: 50px;
    }

    .title-wrapper i { margin-top: -40px; font-size: clamp(64px, 10vw, 100px); color: $blue; margin-left: 20px; }

    .section-right { margin-right: 50px; }
}

@media screen and (max-width: 800px) {
    .page-coming-soon {
        flex-direction: column !important;
        text-align: center;
    }
}